<header>
    <nav class="navbar navbar-expand-lg  navbar navbar-light bg-lignt header-nav">
        <a class="header-title" href="/">Admin Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-toggler navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse  " id="navbarNavDropdown">
            <ul>
                <li><a href="/authors">Types Of Work</a></li>
                <li><a href="/authors/new">Add Type Of Work</a></li>
                <li><a href="/books">Projects</a></li>
                <li><a href="/books/new">Add Project</a></li>
            </ul>
        </div>
    </nav>
</header>