:root {
  --book-cover-width: 200px;
  --book-cover-width-large: 200px;
  --book-cover-aspect-ratio: 0.75;
}

.book-cover {
  width: var(--book-cover-width);
  height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
}

.book-cover-large {
  --book-cover-width: var(--book-cover-width-large);
}

.book-grid {
  display: grid;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fill, var(--book-cover-width));
}

.book-grid-large {
  grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
}

.book-details {
  display: flex;
}

.book-details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.book-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: auto auto;
  margin-left: 50px;
}

.book-details-btn-grid {
  display: grid;
  justify-content: center;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delte"
    "author author";
  grid-gap: 0.5rem;
  margin-top: 0.5rem;
}

.book-deatails-author-button {
  grid-area: author;
  justify-self: stretch;
}

@media (max-width: 600px) {
  .book-details {
    flex-direction: column;
    align-items: center;
  }

  .book-details-btn-grid {
    margin-bottom: 25px;
  }
  .book-details-grid {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .book-details-label {
    align-self: center;
  }
}
