<div class="form-row">
    <div class="form-item">
        <label for="">Name</label>
        <input type="text" name="name" value="<%= author.name %>">
    </div>
    <div class="form-item">
        <label for="">Birth Day</label>
        <input type="date" name="bday" value="<%= author.bday %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Author Picture</label>
        <input type="file" name="authorImg" class="book-cover filepond">
    </div>
    <div class="form-item">
        <label for="">Bio</label>
        <textarea name="bio" value="<%= author.bio %>"></textarea>
    </div>


</div>